.productdisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 170px;
}
.productdisplay-left{
    display: flex;
    gap: 17px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.productdisplay-img-list img{
    height: 163px;
}
.productdisplay-main-img{
    width: 586px;
    height: 700px;
}
.productdisplay-right{
    margin: 0px 70px;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right-sizes h1{
    color: #3d3d3d;
    font-size: 40px;
    position: relative;
    bottom: 22px;
    width: 50px;
    font-weight: 700;
    
}
.productdisplay-right-stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
    text-decoration: none;
}
.productdisplay-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.productdisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-right-price-new{
    color: #ff4141;
    position: relative;
    bottom: 15px;
    right: 275px;
}
.productdisplay-right-discription{
    position: relative;
    bottom: 515px;
    left:15px;
}
.productdisplay-right-size h1{
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.productdisplay-right-sizes{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}
.productdisplay-right-sizes div{
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #FF4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    bottom: 450px;
}
.productdisplay-right-category{
    margin-top: 10px;
}
.productdisplay-right-category span{
    font-weight: 600;
}

.sizechart{
    width: 250px;
    height: 550px;
    position: relative;
    top: 120px;
    left: -10px;
}



@media screen and (max-width: 450px) {
    .productdisplay{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 170px;
        width: 50rem;
        
    }
    .productdisplay-left{
        display: flex;
        gap: 17px;
    }
  
   
    .productdisplay-main-img{
        width: 586px;
        height: 900px;
        position: relative;
        left: 7rem;
    }
    .productdisplay-right{
        margin: 0px 40px;
        position: relative;
        top: 10rem;
        left: 10rem;
        /* width: 775rem; */
        display: flex;
        flex-direction: column;
    }

    .productdisplay-right-prices{
        display: flex;
        margin: 10px 0px;
        gap: 30px;
        position: relative;
        top: 3rem;
        left: 2rem;
        font-size: 54px;
        font-weight: 700;
    }
 

    .productdisplay-right-discription{
        position: relative;
        bottom: 515px;
        left:15px;
        font-size: 35px;
        width: 550px;
    }


    .productdisplay-right button{
        padding: 20px 40px;
        width: 400px;
        font-size: 36px;
        font-weight: 600;
        color: white;
        background: #FF4141;
        margin-bottom: 50px;
        border: none;
        outline: none;
        cursor: pointer;
        position: relative;
        bottom: 460px;
    }

    
    .sizechart{
        width: 350px;
        height: 650px;
        position: relative;
        top: 190px;
        left: 90px;
    }
    

}
